@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-links li{
    margin: 10px 10px;
}
.navbar-links li a{
    font-size: 16px;
    color: #333;
    padding: 10px 10px;
}

/* Hide scrollbar for WebKit browsers */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for other browsers */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }